altgraph==0.17
appdirs==1.4.3
astroid==2.3.3
beautifulsoup4==4.8.0
certifi==2019.11.28
chardet==3.0.4
Click==7.1.1
colorama==0.4.3
decorator==4.4.1
Flask==0.12.2
future==0.18.2
humanize==0.5.1
idna==2.8
imageio==2.3.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
logzero==1.5.0
lxml==4.5.0
lyricsgenius==1.4.0
lyricwikia==0.1.11
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==0.2.3.5
mutagen==1.44.0
notify2==0.3.1
numpy==1.18.1
pafy==0.5.5
pathlib==1.0.1
pefile==2019.4.18
Pillow==7.0.0
pygame==1.9.6
PyInstaller==3.6
pylint==2.4.4
PyQt5==5.13.0
PyQt5-sip==12.7.1
pytube==9.5.1
pywin32-ctypes==0.2.0
PyYAML==5.3
requests==2.21.0
six==1.14.0
soupsieve==1.9.5
spotdl==1.2.4
spotipy==2.4.4
titlecase==0.12.0
tqdm==4.42.1
unicode-slugify==0.1.3
Unidecode==1.1.1
urllib3==1.24.3
Werkzeug==1.0.0
wrapt==1.11.2
youtube-dl==2019.7.30
