altgraph==0.17
appdirs==1.4.4
astroid==2.4.1
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
Click==7.1.2
colorama==0.4.3
decorator==4.4.2
Flask==1.1.2
future==0.18.2
humanize==2.4.0
idna==2.9
imageio==2.8.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
logzero==1.5.0
lxml==4.5.0
lyricsgenius==1.8.5
lyricwikia==0.1.11
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
mutagen==1.44.0
notify2==0.3.1
numpy==1.18.4
pafy==0.5.5
pathlib==1.0.1
pefile==2019.4.18
Pillow==7.1.2
pygame==1.9.6
PyInstaller==3.6
pylint==2.5.2
PyQt5==5.14.2
PyQt5-sip==12.7.2
pytube==9.6.0
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
soupsieve==2.0.1
spotdl==2.0.4
spotipy==2.12.0
titlecase==0.12.0
tqdm==4.46.0
unicode-slugify==0.1.3
Unidecode==1.1.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
youtube-dl==2020.5.8
